@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

html {
  height:100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./KlqS3t.jpg");
  background-size: 100% 100%;
}

#calculator {
  width: 25%;
  height: 70%;
  background-color: rgb(255, 191, 73);
  border-radius: 25px;
  display: grid;
  grid-template-rows: 2fr 5fr;
  border:solid 3px black;
}

#display-wrapper {
  width: 100%;
  height: 100%;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  width: 85%;
  height: 65%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border:solid 2px black;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

#output {
  text-align: right;
  padding-top: 8px;
  padding-right: 15px;
  font-family: digital;
}

#display {
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  font-size: 1.5rem;
  font-family: digital;
}

#button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#keypad {
  width:85%;
  height:80%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  border:solid 1px black;
}

#row1 {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#row2 {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#row3 {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 2fr;
}

button {
  background-color: rgb(255, 200, 137);
  border: solid 1px black;
}

#clear {
  background-color: rgb(255, 124, 124);
}

#equals {
  background-color: rgb(145, 253, 239);
}